<div class="generate_link">
  <button>Generate link</button>
  <div>
    <input id="link" placeholder="input link" type="text" />
    <button id="copy">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon"
        viewBox="0 0 512 512"
      >
        <rect
          x="128"
          y="128"
          width="336"
          height="336"
          rx="57"
          ry="57"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <path
          d="M383.5 128l.5-24a56.16 56.16 0 00-56-56H112a64.19 64.19 0 00-64 64v216a56.16 56.16 0 0056 56h24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
        />
      </svg>
    </button>
  </div>

  <button id="send">I've already sent link to friend!</button>
</div>
<div class="container">
  <p class="moves">♔</p>
  <div class="coords_container if_white">
    <div class="coords">
      <p>A</p>
      <p>B</p>
      <p>C</p>
      <p>D</p>
      <p>E</p>
      <p>F</p>
      <p>G</p>
      <p>H</p>
    </div>
    <div class="board">
      <div class="absolute_coords">
        <p class="num_coords if_white">1</p>
        <p class="num_coords if_white">2</p>
        <p class="num_coords if_white">3</p>
        <p class="num_coords if_white">4</p>
        <p class="num_coords if_white">5</p>
        <p class="num_coords if_white">6</p>
        <p class="num_coords if_white">7</p>
        <p class="num_coords if_white">8</p>
      </div>
      <div class="absolute_coords">
        <p class="num_coords if_white">1</p>
        <p class="num_coords if_white">2</p>
        <p class="num_coords if_white">3</p>
        <p class="num_coords if_white">4</p>
        <p class="num_coords if_white">5</p>
        <p class="num_coords if_white">6</p>
        <p class="num_coords if_white">7</p>
        <p class="num_coords if_white">8</p>
      </div>

      <div class="row">
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
      </div>
      <div class="row">
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
      </div>
      <div class="row">
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
      </div>
      <div class="row">
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
      </div>
      <div class="row">
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
      </div>
      <div class="row">
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
      </div>
      <div class="row">
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
        <div class="cell odd-cell"></div>
      </div>
      <div class="row">
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
        <div class="cell even-cell"></div>
      </div>
    </div>
    <div class="coords">
      <p>A</p>
      <p>B</p>
      <p>C</p>
      <p>D</p>
      <p>E</p>
      <p>F</p>
      <p>G</p>
      <p>H</p>
    </div>
  </div>
</div>
